@media only screen and ( swdmax-width: 40em) {
    .leftMenu, .centered {
        width: 100%;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        flex: 1 0 auto;
        box-sizing: border-box;
        margin: 1rem .25em;
    }
}

@media only screen and (min-width: 40em) and (max-width: 59em) {

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        flex: 0 1 calc(42% - 1em);
        box-sizing: border-box;
        margin: 1rem .25em;
    }
}

@media only screen and (min-width: 60em) {
    .leftMenu {
        width: 15%;
    }

    .centered {
        width: 83%;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        flex: 0 1 calc(21% - 1em);
        border-style: solid;
        border-color: red;
        border-width: 4px;
    }

}


/* Set height to 100% for body and html to enable the background image to cover the whole page: */
html {
    height: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://www.libertytravel.com/sites/default/files/styles/full_size/public/all%20inclusive-hero%20%281%29.jpg?itok=JjwsPBPZ');
	/*url('https://www.coremedicalgroup.com/hubfs/Core%20Medical%20June%202018/Home%20Page/banner_image.png');*/
    background-position: center;
    background-size: cover;
    color: honeydew; /*default text color so you don't have to specify*/
}

/*********************************
    TOP MENU
**********************************/
.topMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
}

    .topMenu li {
        float: left;

    }

        .topMenu li a {
            display: block;
            color: honeydew;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            .topMenu li a:hover:not(.active) {
                background-color: #111;
            }

.active {
    background-color: #04AA6D;
}

/*********************************
    HEADER
**********************************/
.header {
    
}

/*********************************
    MAIN BODY
**********************************/
.twoColumnBody {

}

.leftMenu {
    float: left;
    background-color: darkslategrey;
    font-size: 30px;

}
.centered {
    float: left;
    margin: 0 auto;
    padding: 0 1em;
}


.middleContainer {
    
}

.rightMenu {
    float: right;
    background-color: darkslategrey;
    font-size: 30px;

}

/* red border for testing different containers
    border-style: solid;
    border-width: 4px;
    border-color: red;
*/


